/*CSS variables*/
:root {
    --primary-color: #f5efeb;
    --secondary-color: #2F2E42;
    --accent-color: #5C51F5;
    --disabled-color: #d3d3d3;
    --white-color: #ffffff;

    --radius: 8px;
    --padding: 16px 32px;
}

/*General styles*/
.body,
.navbar {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: Poppins, Arial;
}

.navbar {
    z-index: 100;
}

.footer {
    background-color: var(--secondary-color);
    color: var(--white-color);
}

.footer a {
    color: var(--white-color);
    font-weight: 300;
}

.footer a:hover {
    font-weight: 500;
}

/*Button*/
.primary-cta,
.secondary-cta {
    border-radius: var(--radius);
    padding: var(--padding);
}

.primary-cta {
    background-color: var(--accent-color);
    color: var(--white-color);
    border: none;
    margin-right: 16px;
    margin-bottom: 16px;
}

.secondary-cta {
    background-color: var(--primary-color);
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    font-weight: 500;
}

.disabled-button {
    background-color: var(--disabled-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    width: 100%;
}

.primary-cta:hover {
    opacity: 0.8;
}

.secondary-cta:hover {
    font-weight: 700;
}

/*Form*/
.form-input {
    margin-bottom: 16px;
}

.input-field {
    border-radius: var(--radius);
    border: 1px solid var(--secondary-color);
    padding: var(--padding);
    width: 100%;
}

.input-label {
    margin-bottom: 4px;
    font-weight: 500;
}

/*Portfolio*/
.portfolio {
    margin: 32px;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width: 576px) {
    .portfolio-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 577px) and (max-width: 991px) {
    .portfolio-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .portfolio-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.case-study-preview {
    border-radius: var(--radius);
    box-shadow: 1px 1px 5px var(--secondary-color);
}

.thumbnail {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.case-study-info {
    margin: 16px;
}

.case-study-title {
    font-size: 24px;
    font-weight: 500;
}
